

<div class="button-container">
  <p routerLink="/about">Please select one of the below sections to learn more about myself!</p>
    <button routerLink="/"> 
      <img src="assets/home.png" alt="Home" class="button-icon">
    </button>
    <button routerLink="/about/education">
      <img src="assets/education.png" alt="Education" class="button-icon">
    </button>
    <button routerLink="/about/experience">
      <img src="assets/experince.png" alt="Experience" class="button-icon">
    </button>
    <button routerLink="/about/hobbies">
      <img src="assets/hobbies.png" alt="Hobbies" class="button-icon">
    </button>
    <button routerLink="/about/success">
      <img src="assets/success.png" alt="Success" class="button-icon">
    </button>
    <button routerLink="/about/certificate">
      <img src="assets/certificate.png" alt="Certificate" class="button-icon">
    </button>
  </div>

  <router-outlet></router-outlet>