<h2>Experience</h2>
    <ol class="list-unorderlist-container">
        <li >Full-stack Developer
            Ontario Health | Santé Ontario · Internship
            May 2023 - Present · 2 mos
            Kingston, Ontario, Canada</li>
        <li >Foreign Relation Expert
            Turkish Ministry of Interior · Permanent Full-time
            Mar 2015 - Jun 2018 · 3 yrs 4 mos
            Ankara, Turkey · On-site
            <ul>
                <li>Negotiated with representatives of foreign countries dealing with the topics entering duty of the Ministry so as to establish constructive communication channels to handle the issues requiring immediate action</li> 
                <li>Successfully coordinated legal and technical preparations to sign security agreements with foreign countries to contribute to the increase of the country's security standards</li>
                <li>Created files for countries consisting of security, immigration, and citizenship issues for Minister’s meetings with foreign country Ministers</li>
            </ul>
        </li>
        <li>Third Secretary/Diplomat
            Turkish Ministry of Foreign Affairs · Permanent Full-time
            Dec 2011 - May 2013 · 1 yr 6 mos
            Ankara, Turkey · On-site
            <ul>
                <li>Strategically administered required correspondence procedure, for returning process of historical artifacts smuggled from the country, so contributed to the country’s prestige</li>
                <li>Efficiently assisted the training program of junior diplomats hired by the Ministry </li>
                <li>Organized training programs for foreign junior diplomats and so established constructive communication channels at the very beginning of the career of foreign countries’ diplomats</li>
            </ul>
        </li>
        <li>European Union Expert
            Turkish Ministry of Interior · Permanent Full-time
            Aug 2010 - Dec 2011 · 1 yr 5 mos
            Ankara, Turkey · On-site
            <ul>
                <li>Systematically reviewed the European Union Commission’s yearly report for Turkey and in accordance with the EU’s criticisms prepared a detailed document containing solutions and presented it to higher authorities</li>
                <li>Contributed to the execution of the European Union projects prepared by the central institutions of the Ministry to ensure that the budget provided by the EU for the projects is used effectively</li>
                <li>Communicated efficiently and kindly with colleagues to fulfill a dense workload and follow rigid deadlines so as to produce effective results and eliminate time loss and extra expenses</li>
            </ul>
        </li>
        <li>Income Expert
            Turkish Ministry of Finance · Permanent Full-time
            Jun 2009 - Aug 2010 · 1 yr 3 mos
            Istanbul, Turkey · On-site
            <ul>
                <li>Carefully calculated tax amount taken from taxpayers to prevent tax loss or overpayments from taxpayers</li>
                <li>Contributed to the periodical status report created by the branch of tax administration </li>
                <li>Efficiently operated tax calculation computer program to provide uniqueness in tax calculation enabling equality between taxpayers having the same income amount</li>
            </ul>
        </li>
    </ol>


