.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th, .table td {
    border: 1px solid black;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  p{
    color:darkslateblue;
    font-weight: bold;
    font-size: medium;
  }