<div>
    
        <div class="list-container">
          <h2>Contact Information</h2>
        <ul class="list-items">
            <li>Email: sedadak06@gmail.com</li>
            <li>Mobile Phone: 3433334796</li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/seda-d-0977b21b4/">https://www.linkedin.com/in/seda-d-0977b21b4/</a></li>
           <li>Github: <a href="https://github.com/se6da6">https://github.com/se6da6</a></li>
        </ul>
        </div>
  </div>
  <div>
    <button (click)="navigateToHome()">
      <img src="assets/home.png" alt="Home" class="button-icon"></button>
  </div>
  
  
