
    <h2>Education</h2>
      
        <h3>High School</h3>
        <p>Igdir Anatolian High School</p>
      
        <h3>University</h3>
        <p>Middle East Technical University Department of Political Science and Public Administration</p>
        <a href="https://www.metu.edu.tr/">Middle East Technical University</a>
      
        <h3>College</h3>
        <p>St. Lawrence College Computer Programming and Analysis</p>
        <a href="https://www.stlawrencecollege.ca/">St. Lawrence College</a>
     

