<div>
    <button routerLink="/">
      <div class="home-button-icon"> <img src="assets/home.png" alt="Home" class="button-icon"></div> </button>
    <button routerLink="/contact">
        <div class="contact-button-icon"><img src="assets/contact.png" alt="Contact" class="button-icon"></div></button>
    <button routerLink="/about">
        <div class="about-button-icon"><img src="assets/about.png" alt="About" class="button-icon"></div></button>
    <div class="picture-container">
        <p><img src="assets/personal1.jpg" alt="Personal Picture1" class="fit-image"></p>
        <p><img src="assets/personal2.jpg" alt="Personal Picture2" class="fit-image"></p>
        <p><img src="assets/personal3.png" alt="Personal Picture3" class="fit-image"></p>
    </div>
    <div class="home-parag">
        <p>I am Seda Dadak. I am a software developer. I am currently third year student at St. Lawrence College Department of Computer Programmming and Analysis and have started internship 
            Ontario Ministery of Health and Long-Term Care. My first profession was in a completely different area. I graduated from Middle East Technical University Department of Political Science and Public 
            Administration. After came to Canada, with the impact of Covid I decided to change my profession and started to study programming at college. Now I am very happy to select this area. What I like in computer programming is that it opens to develop yourself every day. Every day you learn new things. Like the life it is open to new discoveries.
        </p>
    </div>
</div>
